<div fxLayoutAlign="center">

  <mat-card fxLayout="column" fxFlex="80">
    <br>
    <mat-card-header fxLayoutAlign="center center">
      <h1>
        Control Your Subscription Preferences
      </h1>
    </mat-card-header>
    <br>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <mat-card-content fxLayout="column">
      <div fxFlex="60" fxLayoutAlign="space-around">
        <mat-form-field fxFlex="30">
          <mat-label>First Name</mat-label>
          <input 
          matInput 
          class="formControl" 
          required 
          id="firstName"
          [(ngModel)]="user.firstName" 
          name="firstName">
        </mat-form-field>
        <mat-form-field fxFlex="30" class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input 
          matInput 
          class="formControl" 
          required 
          id="lastName" 
          [(ngModel)]="user.lastName" name="lastName">
        </mat-form-field>
      </div>
      <div fxFlex="60" fxLayoutAlign="space-around">
        <mat-form-field fxFlex="30" class="example-full-width">
          <mat-label>E-mail</mat-label>
          <input 
          matInput 
          class="formControl" 
          required 
          id="email" 
          [(ngModel)]="user.email" name="email">
        </mat-form-field>
        <!-- <mat-form-field fxFlex="30" class="example-full-width">
          <mat-label>Birthday</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
      </div>
      <div fxFlex="60" fxLayoutAlign="space-around">
        <div fxFlex="30" fxLayoutAlign="center">
          <mat-slide-toggle 
          color="Primary"
          required
          id="receiveSMS"
          [(ngModel)]="user.receiveSMS"
          name="receiveSMS"
          >Receive SMS
        </mat-slide-toggle>
        </div>
        <div fxFlex="30" fxLayoutAlign="center">
          <mat-slide-toggle 
          color="Primary"
          required
          id="receiveCalls"
          [(ngModel)]="user.receiveCalls"
          name="receiveCalls"
          >Receive Calls
          </mat-slide-toggle> 
        </div>
      </div>
      <br>
      <div fxFlex="60" fxLayoutAlign="space-around">
        <div fxFlex="30" fxLayoutAlign="center">
          <mat-slide-toggle 
          color="Primary"
          required
          id="receiveEmail"
          [(ngModel)]="user.receiveEmail"
          name="receiveEmail"
          >Receive E-mail
          </mat-slide-toggle> 
        </div>
        <div fxFlex="30" fxLayoutAlign="center">
          
        </div>
      </div>
      <br>
      <div fxFlex flLayoutALign="center center">
          <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Submit</button>
      </div>
    </mat-card-content>

  </form>

  </mat-card>

</div>